@import "tailwindcss";

@theme {
  --color-primary: #ec3713;
  --color-olive: #556b2f;
  --color-bg-light: #fdfaf6;
  --color-bg-dark: #1a0f0d;
  --color-neutral-text: #181211;

  --font-serif-script: "Playball", cursive;
  --font-display: "Noto Serif", serif;
  --font-sans-main: "Noto Sans", sans-serif;
}

:root {
  background-color: var(--color-primary);
  color: var(--color-neutral-text);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}